.login {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    justify-content: center;
    /* align-items: flex-start; */
    min-height: 100vh;
    gap: 20px;
}
label {
    display: block;
    text-align: start;
}
input {
    width: 100%;
    padding: 10px;
}